# Ignore Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local variables and sessions
.env
user_data/
*.session
*.session-journal

# Ignore local databases and fallback JSONs
db_users.json
db_sessions.json
db_payments.json
db_settings.json

# Ignore logs
logs/
*.log

# Git configs
.git/
.gitignore
